html{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #776e65;

}

.mainContainer{
    width: 400px;
    margin: 100px auto;
}

.gameContainer {
    background: #bbada0;
    font-size: 28px;
    padding: 5px;
    border-radius: 6px;
}

.tileRow {
    display: flex;
}

.tile {
    flex: 1;
    justify-content: space-between;
    margin: 5px;
    text-align: center;
    padding: 28px 10px;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
}

.value-2 {
    background: #eee4da;
}
.value-4 {
    background: #eee1c9;
}
.value-8 {
    color: #f9f6f2;
    background: #ffba7e;
}
.value-16 {
    color: #f9f6f2;
    background: #f69664;
}
.value-32 {
    color: #f9f6f2;
    background: #f77c5f;
}
.value-64 {
    color: #f9f6f2;
    background: #f75f3b;   
}
.value-128 {
    color: #f9f6f2;
    background:#f2d780;
}
.value-256 {
    color: #f9f6f2;
    background: #edcc62;
}
.value-512 {
    color: #f9f6f2;
    background: #7693cb;
}
.value-1024 {
    color: #f9f6f2;
    background: #76cbb0;
}
.value-2048 {
    color: #f9f6f2;
    background:#56c97f;
}